*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family:'Fira Sans Condensed',  sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  min-height: 534px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 711px;
  min-height: 456px;
  gap: 16px;
}

.result__video-container {
  position: relative;
  display: block;
  width: inherit;
  height: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.search-form {
  display: flex;
  width: inherit;
  gap: 40px;
  justify-content: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  padding-bottom: 5px;
}

.search-form__textfield {
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  appearance: none;
  width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: none;
  border: 1px solid #fff;
}

.search-form__textfield:hover {
  text-decoration: none;
  cursor: text;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  background-color: transparent;
}

.search-form__label:not(:has(.search-form__textfield)):hover{
  text-decoration: underline;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
  align-self: center;
}

input[type="checkbox"]:checked + span::after,
.search-form__pseudo-checkbox:active::after {
  content: "";
  background-color: #fff;
  width: 16px;
  height: 16px;
  justify-self: center;
}

.search-form__label-text {
  appearance: none;
}

.button {
  min-height: 34px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  cursor: pointer;
  align-self: end;
}

.button:active {
  background-color:#545050;
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px double #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
 width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  width: 260px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  overflow-y: scroll;
  position: relative;
  block-size: 25em;
  writing-mode: horizontal;
}

.cards-list-item-template {
  display: flex;
  flex-direction: column;
}

.content__list-item {
  width: 398px;
  min-height: 107px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content__video-card:active {
  background-color: #545050;
  text-decoration: none;
}

.content__video-card:hover {
  text-decoration: underline 1px solid #fff;
}

.content__video-card:focus {
  outline: 1px solid #fff;
}

.content__video-card-description-container {
  width: 100%;
  height: inherit;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 0.9;
  white-space: wrap;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 100%;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}